<!--templates/upload.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Processor</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<input type="file" id="fileInput" name="file">
<img id="processedImage" src="" alt="Processed Image" style="max-width: 100%; max-height: 100vh; object-fit: contain;">

<div>
    <label for="threshold_decrement">Threshold Decrement:</label>
    <input type="number" id="threshold_decrement" min="0" value="5">
</div>

<div>
    <label for="brightness_cutoff_percent">Brightness Cutoff Percent:</label>
    <input type="number" id="brightness_cutoff_percent" min="0" max="300" value="50">
</div>

<div>
    <label for="iterations">Iterations:</label>
    <input type="number" id="iterations" min="1" value="1">
</div>

<div>
    <label for="min_contiguous_pixels">Minimum Contiguous Pixels:</label>
    <input type="number" id="min_contiguous_pixels" min="1" value="5">
</div>

<div>
    <label for="black_bg_threshold">Black Background Threshold:</label>
    <input type="number" id="black_bg_threshold" min="1" value="100">
</div>


<script>
    function updateImage() {
        let dataToSend = {
            'filename': uploadedFilename,
            'threshold_decrement': parseInt($('#threshold_decrement').val(), 10),
            'brightness_cutoff_percent': parseInt($('#brightness_cutoff_percent').val(), 10),
            'iterations': parseInt($('#iterations').val(), 10),
            'min_contiguous_pixels': parseInt($('#min_contiguous_pixels').val(), 10),
            'black_bg_threshold': parseInt($('#black_bg_threshold').val(), 10)
        };


        $.ajax({
            url: '/process',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(dataToSend),
            dataType: 'json',
            success: function (data) {
                let imageSrc = data.image_url + '?t=' + new Date().getTime();
                $('#processedImage').attr('src', imageSrc);
            },
            error: function () {
                alert('Failed to process image.');
            }
        });
    }

    let uploadedFilename = "";

    $('#fileInput').change(function () {
        let formData = new FormData();
        formData.append('file', $('#fileInput')[0].files[0]);
        uploadedFilename = $('#fileInput')[0].files[0].name;

        $.ajax({
            url: '/upload',  // Endpoint do przesyłania plików
            type: 'POST',
            data: formData,
            processData: false,  // Wymagane, aby przesłać dane jako FormData
            contentType: false,  // Wymagane, aby przesłać dane jako FormData
            success: function (data) {
                let imageSrc = data.image_url + '?t=' + new Date().getTime();
                $('#processedImage').attr('src', imageSrc);
            },
            error: function () {
                alert('Failed to upload file.');
            }
        });
    });

    $('input').on('input change', function () {
        updateImage();
    });
</script>

</body>
</html>
